@model CandidateModel;
@{
    var skillSetList = ViewBag.skillList as List<string>;
    var countryList = ViewBag.countryList as List<SelectListItem>;
    var selectedSkills = Model.Skills ?? new List<string>();
    var index = ViewData["FormIndex"] ?? 0;
}

<div class="register-form mb-5" style="width: 400px;" data-index="@index">
    @Html.HiddenFor(m => m.CandidateId)

    <div class="input-control mb-3">
        <label>Name <span class="text-danger">*</span></label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "candidate-name" })
        <div class="error text-danger"></div>
    </div>

    <div class="input-control mb-3">
        <label>Gender <span class="text-danger">*</span></label><br />
        <input type="radio" name="Gender_@index" value="1" /> Male
        <input type="radio" name="Gender_@index" value="2" /> Female
        <input type="radio" name="Gender_@index" value="3" /> Other
        <div class="error text-danger"></div>
    </div>

    <div class="input-control mb-3">
        <label>Skills <span class="text-danger">*</span></label><br />
        @foreach (var skill in skillSetList)
        {
            <input type="checkbox" name="skills" value="@skill" class="chk-skills" @(selectedSkills.Contains(skill) ?
                                                                                               "checked" : "") /> @skill

                }
        <div class="error text-danger"></div>
    </div>

    <div class="input-control mb-3">
        <label>Phone <span class="text-danger">*</span></label>
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", id = "phone" })
        <div class="error text-danger"></div>
    </div>

    <div class="input-control mb-3">
        <label>Email <span class="text-danger">*</span></label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "email" })
        <div class="error text-danger"></div>
    </div>

    <div class="input-control mb-3">
        <label>Address</label>
        @Html.TextAreaFor(m => m.Address, new { @class = "form-control" })
        <div class="error text-danger"></div>
    </div>

    <div class="input-control mb-3">
        <label>Country <span class="text-danger">*</span></label>
        @Html.DropDownListFor(m => m.CountryId, countryList, "-- Select Country --", new
        { @class = "form-control", id = "country" })
        <div class="error text-danger"></div>
    </div>

</div>
<hr class="mb-8">
